{% load staticfiles %}

<html>

<head>
  <link rel="icon" type="image/png" href="{% static 'img/howtohs.png' %}">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>

<body>
  <div id="nav">
    <div id="nav_wrapper">
      <ul>
        <li><a href="/">HOME</a>
        </li>
        <li><a href="english.html">ENGLISH</a>
          <ul>
            <li><a href="../comp">AP COMPOSITION AND LANGUAGE</a></li>
            <li><a href="../lit">AP LITERATURE AND LANGUAGE</a></li>
          </ul>
        </li>
        <li><a href="history.html">HISTORY</a>
          <ul>
            <li><a href="../world">AP WORLD HISTORY</a></li>
            <li><a href="../euro">AP EUROPEAN HISTORY</a></li>
            <li><a href="../apush">AP US HISTORY</a></li>
            <li><a href="../apgov">AP GOVERNMENT</a></li>
            <li><a href="../apecon">AP ECONOMICS</a></li>
          </ul>
        </li>
        <li><a href="math.html">MATH</a>
          <ul>
            <li><a href="../algebra1">ALGEBRA I</a></li>
            <li><a href="../geometry">GEOMETRY</a></li>
            <li><a href="../algebra2-trig">ALGEBRA II/TRIGONOMETRY</a></li>
            <li><a href="../precalc">PRECALCULUS</a></li>
            <li><a href="../BC">AP CALCULUS BC</a></li>
          </ul>
        </li>
        <li><a href="science.html">SCIENCE</a>
          <ul>
            <li><a href="../bio">BIOLOGY</a></li>
            <li><a href="../chem">CHEMISTRY</a></li>
            <li><a href="../physics">PHYSICS</a></li>
            <li><a href="../apbio">AP BIOLOGY</a></li>
            <li><a href="../apphysics">AP PHYSICS</a></li>
          </ul>
        </li>
        <li><a href="college.html">COLLEGE</a>
        </li>
        <li><a href="contact.html">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <br>
  <br>
</body>

<div id="links">
  <h1>{% block header %}{% endblock header %}</h1>
  <p> LESSONS </p>
  <p> PRACTICE EXAMS </p>
  <li>{% block link %}{% endblock link %}</li>
</div>
