{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
  AP English Language and Composition
{% endblock title %}

{% block header %}
  AP ENGLISH LANGUAGE AND COMPOSITION
{% endblock header %}


{% block link %}
<a href="{% static 'docs/AP English Language and Composition Practice Exam 1.pdf' %}" target="_blank">5 Steps to a 5: 500 Workbook Problems</a>
<a href="{% static 'docs/Barrons AP English Language and Composition.pdf' %}" target="_blank">Barron's Review Book</a>
<a href="{% static 'docs/2016 AP English Language and Composition Exam.pdf' %}" target="_blank">2016 AP English Language and Composition Exam</a>
<a href="{% static 'docs/CliffNotes AP English Language and Composition Review Book.pdf' %}" target="_blank">CliffNotes AP English Language and Composition Review Book</a>
{% endblock link %}
