{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
  AP English Literature and Composition
{% endblock title %}

{% block header %}
  AP ENGLISH LITERATURE AND COMPOSITION
{% endblock header %}


{% block link %}
<a href="{% static 'docs/2012 AP English Literature and Composition Exam.pdf' %}" target="_blank">2012 AP English Literature and Composition Exam</a>
<a href="{% static 'docs/20014 AP Lit.pdf' %}" target="_blank">2004 AP English Literature and Composition</a>
<a href="{% static 'docs/AP English Lit.pdf' %}" target="_blank">Crash Course: AP English Literature and Composition</a>
<a href="{% static 'docs/AP Literature.pdf' %}" target="_blank">Peterson's AP English Literature and Composition</a>
{% endblock link %}
