<!DOCTYPE html>
<html>

<head>
  <title>Navigation with dropdown menu</title>
  <link href="styles.css" type="text/css" rel="stylesheet" />
</head>

<body>

  <div id="nav">
    <div id="nav_wrapper">
      <ul>
        <li><a href="index.html">HOME</a>
        </li>
        <li><a href="english.html">ENGLISH <img src="arrow1.png" /></a>
          <ul>
            <li><a href="english1.html">ENGLISH 1</a></li>
            <li><a href="english2.html">ENGLISH 2</a></li>
            <li><a href="comp.html">AP COMPOSITION AND LANGUAGE</a></li>
            <li><a href="lit.html">AP LITERATURE AND LANGUAGE</a></li>
          </ul>
        </li>
        <li><a href="history.html">HISTORY <img src="arrow1.png" /></a>
          <ul>
            <li><a href="world.html">WORLD HISTORY</a></li>
            <li><a href="euro.html">AP EUROPEAN HISTORY</a></li>
            <li><a href="apush.html">AP US HISTORY</a></li>
            <li><a href="gov.html">AP GOVERNMENT</a></li>
            <li><a href="econ.html">AP ECONOMICS</a></li>
          </ul>
        </li>
        <li><a href="math.html">MATH <img src="arrow1.png" /></a>
          <ul>
            <li><a href="algebra1.html">ALGEBRA 1</a></li>
            <li><a href="geometry.html">GEOMETRY</a></li>
            <li><a href="algebra2-trig.html">ALGEBRA 2/TRIGONOMETRY</a></li>
            <li><a href="precalc.html">PRECALCULUS</a></li>
            <li><a href="BC.html">AP CALCULUS BC</a></li>
          </ul>
        </li>
        <li><a href="science.html">SCIENCE <img src="arrow1.png" /></a>
          <ul>
            <li><a href="bio.html">BIOLOGY</a></li>
            <li><a href="chem.html">CHEMISTRY</a></li>
            <li><a href="physics.html">PHYSICS</a></li>
            <li><a href="apbio.html">AP BIOLOGY</a></li>
            <li><a href="apphysics.html">AP PHYSICS 1</a></li>
          </ul>
        </li>
        <li><a href="college.html">COLLEGE</a>
        </li>
        <li><a href="contact.html">CONTACT</a>
        </li>
      </ul>
    </div>
  <div>

</body>

</html>
