{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
  AP World History
{% endblock title %}

{% block header %}
  AP WORLD HISTORY
{% endblock header %}


{% block link %}
<a href="{% static 'docs/apwh.pdf' %}" target="_blank">Review Sheet</a>
<a href="{% static 'docs/PETERSONS AP WORLD HISTORY REVIEW.pdf' %}" target="_blank">Peterson's AP World History Review</a>
<a href="{% static 'docs/Stearns AP 5e Review Materials.pdf' %}" target="_blank">Stearn's AP World History Review</a>
{% endblock link %}
